In [1]:
strText = input("아무 문장이나 입력하세요 : ")
print(strText)

homework

In [2]:
flVal = [1.0, 2.0, 3.14, 4.2, 5.1]

In [3]:
arVal = [flVal, flVal, flVal]
arVal

[[1.0, 2.0, 3.14, 4.2, 5.1],
 [1.0, 2.0, 3.14, 4.2, 5.1],
 [1.0, 2.0, 3.14, 4.2, 5.1]]

In [4]:
arVal[0]

[1.0, 2.0, 3.14, 4.2, 5.1]

In [5]:
arVal[1]

[1.0, 2.0, 3.14, 4.2, 5.1]

In [6]:
arVal[1][2]

3.14

In [7]:
arVal[0] = 'python'
arVal

['python', [1.0, 2.0, 3.14, 4.2, 5.1], [1.0, 2.0, 3.14, 4.2, 5.1]]

In [8]:
arVal[0][2]

't'

In [9]:
arVal[0] = 'python programming'
arVal

['python programming', [1.0, 2.0, 3.14, 4.2, 5.1], [1.0, 2.0, 3.14, 4.2, 5.1]]

In [10]:
import numpy as np
arData = np.array([1.0, 2.0, 3.14, 4.2, 5.1])
arData

array([1.  , 2.  , 3.14, 4.2 , 5.1 ])

In [11]:
arData.sum()

15.44

In [12]:
arVal.sum()

AttributeError: 'list' object has no attribute 'sum'

In [ ]:
print(type(arVal))
print(type(arData))

In [ ]:
arData.std()

In [ ]:
arData.cumsum()

In [ ]:
arData * 2

In [ ]:
arData ** 2

In [ ]:
np.sqrt(arData)

In [ ]:
arVal = np.array([arData, arData ** 2])
arVal

In [ ]:
arVal.sum(axis=0)

In [ ]:
arVal.sum(axis=1)

In [ ]:
np.array([[0,0,0],[0,0,0]])

In [ ]:
arZero = np.zeros((2,3), dtype = 'i') 
arZero

In [ ]:
import pandas as pd

pandas_series = pd.Series([30, 20, 10], index=['국어', '영어', '수학'])
print(type(pandas_series))
pandas_series

In [ ]:
pandas_series[1:]

In [ ]:
pandas_series[0][1]

In [ ]:
df = pd.DataFrame([30,20,10], columns=['score'], index=['국어', '영어', '수학'])
df

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.loc['국어']

In [ ]:
df.sum()

In [ ]:
df.score ** 2

In [ ]:
df['score2'] = (50, 50, 50)
df

In [ ]:
df['score2'] = pd.DataFrame([90,90,90], index=['국어', '영어', '수학'])
df

In [ ]:
del df['score']

In [ ]:
df['score2'] = (90, 90, 90, 100)

In [ ]:
df['score2'] = pd.DataFrame([90, 90, 90, 100], index=['국어', '영어', '수학', '윤리'])
df

In [ ]:
df1 = pd.DataFrame([1, 2, 3], columns = ['A'])
df2 = pd.DataFrame([10, 11, 12, 13], columns = ['B'])

df = df1.join(df2, how='outer')
df

In [ ]:
df_inner = df1.join(df2, how='inner')
df_inner

In [ ]:
df = pd.DataFrame(np.random.randn(5,5))
df.columns = ['A', 'B', 'C', 'D', 'E']

df

In [ ]:
df.max()

In [ ]:
df.min()

In [ ]:
df.mean()

In [ ]:
df.std()

In [ ]:
df.cumsum()

In [ ]:
df.describe()

In [ ]:
df['division'] = ['X', 'Y', 'X', 'Y', 'Z']
df

In [ ]:
df.groupby(['division']).mean()