In [12]:
strVal = 'data science'               
nVal = 12345                       
fVal = 1.2                           
lVal = ['data', 'science']            
dVal = {'lecture' : 'data science'}   
bVal = True

In [13]:
strVal

'data science'

In [14]:
nVal

12345

In [15]:
fVal

1.2

In [16]:
lVal

['data', 'science']

In [17]:
dVal

{'lecture': 'data science'}

In [18]:
bVal

True

In [19]:
print('strVal : ', strVal)
print('nVal : ', nVal)
print('fVal : ', fVal)
print('lVal : ', lVal)
print('dVal : ', dVal)
print('bVal : ', bVal)

strVal :  data science
nVal :  12345
fVal :  1.2
lVal :  ['data', 'science']
dVal :  {'lecture': 'data science'}
bVal :  True

In [20]:
print('strVal : ', type(strVal))
print('nVal : ', type(nVal))
print('fVal : ', type(fVal))
print('lVal : ', type(lVal))
print('dVal : ', type(dVal))
print('bVal : ', type(bVal))

strVal :  <class 'str'>
nVal :  <class 'int'>
fVal :  <class 'float'>
lVal :  <class 'list'>
dVal :  <class 'dict'>
bVal :  <class 'bool'>

In [21]:
print('10진수 표현 : ', nVal)       
print('2진수 표현 : ', bin(nVal))
print('8진수 표현 : ', oct(nVal))  
print('16진수 표현 : ', hex(nVal))

10진수 표현 :  12345
2진수 표현 :  0b11000000111001
8진수 표현 :  0o30071
16진수 표현 :  0x3039

In [22]:

nVal = 16                          
fVal = 3.14

In [23]:
btVal = TRUE                         
bfVal = FALSE

NameError: name 'TRUE' is not defined

In [24]:
btVal = true                         
bfVal = false

NameError: name 'true' is not defined

In [25]:
10 == 11

False

In [26]:
10 != 11

True

In [27]:
10 >= 11

False

In [28]:
10 <= 11

True

In [29]:
10 > 11

False

In [30]:
10 < 11

True

In [31]:
nBig = 100
nSmall = 10

In [32]:
print(nBig == nSmall)
print(nBig != nSmall)
print(nBig >= nSmall)
print(nBig <= nSmall)
print(nBig > nSmall)
print(nBig < nSmall)

False
True
True
False
True
False

In [33]:
print(nBig =< nSmall

SyntaxError: invalid syntax (Temp/ipykernel_10116/296258709.py, line 1)

In [34]:
print(nBig => nSmall)

SyntaxError: invalid syntax (Temp/ipykernel_10116/4110334926.py, line 1)

In [35]:
strData = 'data'               
strSci = "Science"

In [36]:
strLecture = strData + strSci

In [37]:
strLecture

'dataScience'

In [38]:
strLecture = strData +" "+ strSci
strLecture

'data Science'

In [39]:
strLecture.split()

['data', 'Science']

In [40]:
lSeperate = strLecture.split()

In [41]:
type(lSeperate)

list

In [42]:
strHello = "안녕하세요. 반갑습니다."

In [43]:
strHello.find("반갑")

7

In [44]:
strHello.find("hello")

-1

In [45]:
"반갑" in strHello

True

In [46]:
strHello.replace('.', '?')

'안녕하세요? 반갑습니다?'

In [47]:
strHello.replace('.', '?')                  
strHello.replace("하세요", "하셔유")

'안녕하셔유. 반갑습니다.'

In [48]:
strHello

'안녕하세요. 반갑습니다.'

In [49]:
strNewHello = strHello.replace('.', '?')                    
strNewHello = strNewHello.replace("하세요", "하셔유")       
strNewHello

'안녕하셔유? 반갑습니다?'

In [50]:
strHello.strip('반갑습니다.')

'안녕하세요. '

In [51]:
strHello

'안녕하세요. 반갑습니다.'

In [52]:
lnData = [1,2,3,4,5]    
print(lnData)
print('type : ', type(lnData))

[1, 2, 3, 4, 5]
type :  <class 'list'>

In [53]:
print(lnData[0])    
print(lnData[3])

1
4

In [54]:
lnData[0] = lnData[4]  
print(lnData)

[5, 2, 3, 4, 5]

In [55]:
print(lnData[2:4])

[3, 4]

In [56]:
lnData = [1,2,3,4,5]
lstrData=['a', 'b', 'c']

lnData + lstrData

[1, 2, 3, 4, 5, 'a', 'b', 'c']

In [57]:
lnData.append(10)   
lnData

[1, 2, 3, 4, 5, 10]

In [58]:
lnData.insert(0, 'python') 
lnData

['python', 1, 2, 3, 4, 5, 10]

In [59]:
lnData.remove('python')    
lnData

[1, 2, 3, 4, 5, 10]

In [60]:
del lnData[5]            
lnData

[1, 2, 3, 4, 5]

In [61]:
lnData

[1, 2, 3, 4, 5]

In [62]:
lnData.pop(0)    
lnData

[2, 3, 4, 5]

In [63]:
lnData.pop()     
lnData

[2, 3, 4]

In [64]:
lnData.clear()  
lnData

[]

In [65]:
tVal = ("사과", "딸기", "바나나", "토마토", "키위")

print(tVal)
print(type(tVal))

('사과', '딸기', '바나나', '토마토', '키위')
<class 'tuple'>

In [66]:
tVal[0] = "포도"

TypeError: 'tuple' object does not support item assignment

In [67]:
tData = ( 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7)
tData.count(1)

3

In [68]:
len(tVal)

5

In [70]:
print(tData[2:5])

(3, 1, 2)

In [71]:
tTuple = tVal+ tData
print(tTuple)

('사과', '딸기', '바나나', '토마토', '키위', 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7)

In [72]:
tData * 2

(1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7, 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7)

In [73]:
tData

(1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7)

In [74]:
tData2 = tData * 2
print(tData2)

(1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7, 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 7)

In [75]:
print("tVal memory = ", hex(id(tVal)))
tVal = tVal * 2
print("tVal memory = ", hex(id(tVal)))
print(tVal)

tVal memory =  0x21af63f4f90
tVal memory =  0x21af8556e40
('사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위')

In [76]:
print("tVal memory = ", hex(id(tVal)))
tVal = tVal + tVal
print("tVal memory = ", hex(id(tVal)))
print(tVal)

tVal memory =  0x21af8556e40
tVal memory =  0x21af8dd11e0
('사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위', '사과', '딸기', '바나나', '토마토', '키위')

In [77]:
sVal = {1, 2, 3, 4, 5}
print(sVal)
print(type(sVal))

{1, 2, 3, 4, 5}
<class 'set'>

In [78]:
sVal[1:2]

TypeError: 'set' object is not subscriptable

In [79]:
sVal.add(100)
print(sVal)

{1, 2, 3, 4, 5, 100}

In [80]:
sVal.update([200, 300])
print(sVal)

{1, 2, 3, 4, 5, 100, 200, 300}

In [81]:
sVal.remove(200)
print(sVal)

{1, 2, 3, 4, 5, 100, 300}

In [83]:
sVal.clear()
print(sVal)

set()

In [87]:
sVal = {100, 200, 300, 400, 500}
sData = {"a", "b", "c", "c", 100, 300}
print(sVal)
print(sData)

{400, 100, 500, 200, 300}
{'a', 100, 'c', 300, 'b'}

In [88]:
sVal.intersection(sData)

{100, 300}

In [89]:
sVal.difference(sData)

{200, 400, 500}

In [90]:
sVal - sData

{200, 400, 500}

In [91]:
sVal.symmetric_difference(sData)

{200, 400, 500, 'a', 'b', 'c'}

In [92]:
dVal = {
    'name' : '이컴공',
    'email' : 'computer@hoseo.edu',
    'address' : '충남 아산시'
}
print(dVal)
print(type(dVal))

{'name': '이컴공', 'email': 'computer@hoseo.edu', 'address': '충남 아산시'}
<class 'dict'>

In [93]:
dData = {
    "사과" : 300, 
    "포도" : 200, 
    "배" : 500,
    "키위" : 100
}

In [96]:
print(dData["배"])

500

In [97]:
dData.get("배")

500

In [98]:
dData["딸기"] = 100
print(dData)

{'사과': 300, '포도': 200, '배': 500, '키위': 100, '딸기': 100}

In [99]:
dData.pop("사과")

300

In [100]:
dData

{'포도': 200, '배': 500, '키위': 100, '딸기': 100}

In [101]:
dData.pop()

TypeError: pop expected at least 1 argument, got 0

In [102]:
sorted(dData)

['딸기', '배', '키위', '포도']

In [103]:
sorted(dData.values())

[100, 100, 200, 500]

In [104]:
dData

{'포도': 200, '배': 500, '키위': 100, '딸기': 100}

In [105]:
def f(x):
  # x에 10을 더한 값을 출력
  return x + 10

In [106]:
f(2)

12